<script>
  import CreateRecipe from './CreateRecipe.svelte'
  let showCreate = false
  export let data = {};
</script>

<button class="createButton" on:click={() => showCreate = true}>+</button>

<CreateRecipe show={showCreate}/>

<div>
  {#each data.recipes as recipe}
      <a href="/recipe/{ recipe._id }">{ recipe._id }</a>
  {/each}
</div>

<style scoped>
  .createButton {
    background-color: #228b22;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 2em;
    padding: 0 8px;
    cursor: pointer;
  }
  .createButton:hover {
    background-color: #1f811f;
  }
</style>