<script>
  export let show;
  export let recipe = {}
</script>

<div style="display: {show ? 'block' : 'none'}">
  <h1>Create new recipe</h1>

  <label>
    Title: <input type="text" bind:value={recipe.title}/>
  </label>
</div>